<div class="card shadow-sm h-100">
    <div class="card-header bg-secondary text-white">
        <h5 class="mb-0">Contact Helpdesk</h5>
    </div>
    <div class="card-body">

        {% if  helpdesk_req_error %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ helpdesk_req__error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

        {% if  helpdesk_req_success %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{  helpdesk_req_success }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}

        <form action="{{ url_for('submit_ticket') }}" method="POST">
            <div class="mb-3">
                <label for="requestType" class="form-label">Request Type</label>
                <select class="form-select" id="requestType" name="request_type" required>
                    <option value="" selected disabled>Select a request type...</option>
                    <option value="ChangeID">Change User ID</option>
                    <option value="MarketAnalysis">Request Market Analysis</option>
                    <option value="AddCategory">Add Product Category</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="requestDesc" class="form-label">Request Details</label>
                <textarea class="form-control" id="requestDesc" name="request_desc" rows="4" placeholder="Please provide the details..." required></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-auto">
                <button type="reset" class="btn btn-outline-secondary me-md-2">Clear</button>
                <button type="submit" class="btn btn-primary">Submit Ticket</button>
            </div>
        </form>
    </div>
</div>